
name: CI
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master , app ]
  pull_request:
    branches: [ master , app ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build.
          git config --global user.email "neeharika5samboji@gmail.com"
          git config --global user.name "SNeeharika"
          git pull origin
          git fetch origin
          cat README.md 
          git checkout app
          git branch -a
          cat README.md
          git pull origin master
          git add .
          git commit -m "updating app branch"
          git push origin app
          cat README.md
